*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
vcs.xml
*.hprof

.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/jarRepositories.xml

*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log

bin/
gen/
out/
build/
.navigation/

